/* Loading Indicator */

.loading {
  text-align: center;
  font-size: 24px;
}

.loading .fas {
  margin-right: 8px;
}

/* Navigation Bar */

.nav-bar {
  display: flex;
  position: fixed;
  top: 0px;
  right: 0px;
}

.nav--current-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  padding: 2px;
  font-weight: bold;
}

.current-user-avatar {
  border: 3px solid #2980b9;
  width: 100%;
  height: 100%;
  margin-right: 5px;
  cursor: pointer;
}

.nav-bar-button {
  cursor: pointer;
  font-weight: 500;
}

/* Dialogs and Pop-ups */

.custom-dialog {
  max-width: md;
  width: 100%;
}

.confirm-box {
  position: relative;
  padding: 6px;
  text-align: center;
}

#confirm-button:hover {
  background-color: red;
}

.close-dialog-button {
  position: absolute;
  top: 0;
  right: 0;
}

.feedback-pop-up {
  position: relative;
  padding: 6px;
  text-align: center;
}

/* Error Message */

.error-return-home-button {
  cursor: pointer;
  font-weight: 500;
}

/* Custom Shape Divider */

.custom-shape-divider-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top svg {
  position: relative;
  display: block;
  width: calc(136% + 1.3px);
  height: 159px;
}

.custom-shape-divider-top .shape-fill {
  fill: #5aade3;
}
